__pycache__/
*.pyc
logs/
Deimos-Testconfig.ini
venv
*.exe
testbot.txt
*.spec
!Deimos.spec
build/
dist/
*.env
.secret/*
.secret
.secrets
*.lock
!.gitignore
.*
target/
/target
/result
.*
!.gitignore
Cargo.lock
flake.lock
wizard101/
